<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="Head">
    <th:block th:include="shared/partial/head :: Head"></th:block>
    <div layout:fragment="Css">
        <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    </div>
</head>

<body>
    <th:block th:include="shared/partial/header :: Header"></th:block>

    <div layout:fragment="page">
        <p>Please change me :(</p>
    </div>

    <div layout:fragment="Footer">

        <footer class="footer">
            <div class="footer__outer">
                <picture>
                    <source srcset="img/footer/rect.webp" type="image/webp">
                    <img src="img/footer/rect.png" class="footer__rect"></picture>
                <picture>
                    <source srcset="img/footer/border.webp" type="image/webp">
                    <img src="img/footer/border.png" class="footer__border"></picture>
                <div class="container">
                    <div class="footer__inner">
                        <div class="footer__names">
                            <h3 class="footer__head">
                                Над проектом працювали
                            </h3>
                            <div class="footer__lists">
                                <ul class="footer__list">
                                    <li>Єрмаков Юрій</li>
                                    <li>Шмат Катерина</li>
                                    <li>Хомік Богдан</li>
                                    <li>Фіть Владислав</li>
                                </ul>

                                <ul class="footer__list">
                                    <li>Лунін Леонід</li>
                                    <li>Байда Данило</li>
                                    <li>Кульчицький <br> Дмитро</li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer__feedback">
                            <h3 class="footer__head">
                                Потрібна підтримка? <br>
                                Напиши нам!
                            </h3>
                            <a href="mailto:feedback@example.com" class="footer__mail">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                     x="0px" y="0px" viewBox="0 0 60 60"
                                     style="enable-background:new 0 0 60 60;" xml:space="preserve">
									<path d="M0,8.5v2.291v38.418V51.5h60v-2.291V10.791V8.5H0z M36.625,30.564l-5.446,5.472c-0.662,0.615-1.698,0.614-2.332,0.026
									l-5.473-5.498l0.048-0.047L3.647,10.5h52.719L36.577,30.518L36.625,30.564z M20.524,30.533L2,48.355V11.923L20.524,30.533z
									 M21.934,31.95l5.523,5.549c0.709,0.661,1.619,0.993,2.533,0.993c0.923,0,1.85-0.339,2.581-1.02l5.496-5.522L56.304,49.5H3.686
									L21.934,31.95z M39.477,30.534L58,11.922v36.433L39.477,30.534z"/>
								</svg>
                                feedback@example.com
                            </a>
                        </div>
                    </div>
                </div>
                <p class="footer__rights">
                    © 2020 DocUni — Всі авторскі права захищені
                </p>
            </div>
        </footer>

    </div>

    <div layout:fragment="Script"></div>
</body>
</html>