<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:include="shared/partial/head :: Head"></th:block>
    <div layout:fragment="Css">
        <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    </div>
</head>

<body>
    <th:block th:include="shared/partial/header :: Header"></th:block>

    <div layout:fragment="page">
        <p>Please change me :(</p>
    </div>

    <th:block th:include="shared/partial/footer :: Footer"></th:block>

    <div layout:fragment="Script"></div>
</body>
</html>